#menu *{ 
    padding:0; 
    margin: 0; 
    font: 12px verdana; 
    list-style-type:none;
}

#menu{
	position:fixed;
    bottom:0px;
    float: left;
    line-height: 10px; 
    left:0px;
	height:40px;
	width:100%;
	border-top:1px solid rgba(0,0,0,0.4);
	background:rgba(0,0,0,0.6);
	box-shadow:inset 0px 1px rgba(255,255,255,0.3),inset 0px 10px rgba(255,255,255,0.2),inset 0px 10px 20px rgba(255,255,255,0.25),inset 0px -15px 30px rgba(0,0,0,0.3);
}

#menu a{
    display:block; 
    text-decoration:none; 
    color:#cccccc;
}

#menu a:hover {
	background:rgba(0,0,0,0.5);
}

#menu h1{
    display:block; 
    text-decoration:none; 
    color:#cccccc;
}

#menu h1:hover {
	background:rgba(0,0,0,0.5);
}

#menu ul li ul li a:hover { 
    background:rgba(0,0,0,0.3); 
    padding-left:9px;
    border-left: solid 1px #000;
}

#menu ul li ul li {
    width: 140px; 
    color: #cccccc;  
    padding-top: 3px; 
    padding-bottom:3px; 
    padding-left: 3px; 
    padding-right: 3px; 
    background:rgba(0,0,0,0.5);
	border:1px solid rgba(0,0,0,0.3);
	border-top:1px solid rgba(0,0,0,0.1);
	border-bottom:none;
}

#menu ul li ul li a { 
    font: 11px verdana; 
    font-weight:normal; 
    font-variant: small-caps; 
    padding-top:3px; 
    padding-bottom:3px;}

#menu ul li {
    float: left; 
    width: 147px; 
    font-weight: bold; 
    border-right: solid 1px black;  
    background:rgba(0,0,0,0.1);
}

#menu ul li a { 
    font-weight: bold;
    padding: 15px 10px;
}

#menu ul li h1{ 
    font-weight: bold;
    padding: 15px 10px;
}
	
#menu li{ 
    position:relative; 
    float:left;
}

#menu ul li ul, #menu:hover ul li ul, #menu:hover ul li:hover ul li ul{ 
    display:none;
    list-style-type:none; 
    width: 140px;
}

#menu:hover ul, #menu:hover ul li:hover ul, #menu:hover ul li:hover ul li:hover ul { 
    display:block;
}
	
#menu:hover ul li:hover ul li:hover ul { 
    position: absolute;
    margin-left: 143px;
    margin-top: -23px;
    font: 10px;
}

#menu:hover ul li:hover ul { 
    position: absolute;
    margin-top: 1px;
    font: 10px;
}

#menu>ul>li:hover>ul { 
    bottom:100%;
}