/*Header style*/
#home_header{
	height:100px;
	width:100%;
	background:rgba(0,0,0,0.4);
	border-bottom:1px solid rgba(0,0,0,0.4);
	padding-top:20px;
}

#home_header h1{
	display:block;
	margin:0px 400px 0px;
	color:#cccccc;
	margin-top:0px;
	font:60px arial;
}

#home_header h1:hover{
	color:white;
}
/*End of header style*/

/*Content style*/
#home_page{
	margin-left:50px;
	margin-right:250px;
}

#home_page img{
	float:left;
	background:rgba(0,0,0,0.4);
	border-bottom:1px solid rgba(0,0,0,0.4);
	
}

#home_page p{
	display:block;
	color:#cccccc;
	margin-top:125px;
	margin-left:375px;
	font:16px verdana;
	background:rgba(0,0,0,0.6);
}
/*End of content style*/